- content_for :title, "Totem: #{@totem.name}"
.page-title
  .title_left
    %h3= yield :title
  .title_right
    .pull-right.text-right
      %a.btn.btn-primary{ href: admin_totems_path }= I18n.t('back')
      %a.btn.btn-success{href: edit_admin_totem_path(@totem)}= I18n.t('edit')
.clearfix
.row
  .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_content
        %div{"data-example-id" => "togglable-tabs", :role => "tabpanel"}
        %ul.nav.nav-tabs.bar_tabs{:role => "tablist"}
          %li.active{:role => "presentation"}
            %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#general", :role => "tab"} General
          %li{:role => "presentation"}
            %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#location", :role => "tab"} Ubicación
          %li{:role => "presentation"}
            %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#images", :role => "tab"} Imágenes
          %li{:role => "presentation"}
            %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#content", :role => "tab"} Contenido
          %li{:role => "presentation"}
            %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#gallery", :role => "tab"} Galería
          %li{:role => "presentation"}
            %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tips", :role => "tab"} Tips
          %li{:role => "presentation"}
            %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#instagram", :role => "tab"} Instagram
        .tab-content
          #general.tab-pane.active{"aria-labelledby" => "home-tab", :role => "tabpanel"}
            %table.table
              %tbody
                %tr
                  %th Nombre
                  %td= @totem.name
                %tr
                  %th Description
                  %td= @totem.description
                %tr
                  %th Identificador
                  %td= @totem.shortcut
                %tr
                  %th Texto del botón infografía
                  %td= @totem.infographic_text
                %tr
                  %th Circuito
                  %td= @totem.circuit.name
                %tr
                  %th Creado el
                  %td= l @totem.created_at, format: :long
                %tr
                  %th Última actualización
                  %td
                    hace
                    = distance_of_time_in_words_to_now(@totem.updated_at)
                %tr
                  %th Hashtag
                  %td= @totem.hashtag
                %tr
                  %th URL para QR
                  %td= link_to totem_shortcut_url(@totem.circuit.shortcut, @totem.shortcut, :only_path => false), totem_shortcut_url(@totem.circuit.shortcut, @totem.shortcut, :only_path => false)
                %tr
                  %th Imágen QR
                  %td
                    #qr-output
          #location.tab-pane{"aria-labelledby" => "profile-tab", :role => "tabpanel"}
            %table.table
              %tbody
                %tr
                  %th Dirección Manual
                  %td= @totem.manual_address
                %tr
                  %th Dirección Automática
                  %td= @totem.location
                %tr
                  %th Latitud
                  %td= @totem.latitude
                %tr
                  %th Longitud
                  %td= @totem.longitude
            #map
          #images.tab-pane{"aria-labelledby" => "profile-tab", :role => "tabpanel"}
            %p
              %b Infografía
            - if @totem.infographic?
              %p= image_tag @totem.infographic.url(:thumb)
            - else
              %p Aún no se ha subido ninguna infografía.
            %p
              %b Imágen Principal
            - if @totem.main_image?
              %p= image_tag @totem.main_image.url(:thumb)
            - else
              %p Aún no se ha subido ninguna imágen principal.
            %p
              %b Imágen de cabecera
            - if @totem.header_image?
              %p= image_tag @totem.header_image.url(:thumb)
            - else
              %p Aún no se ha subido ninguna imágen de cabecera.
          #content.tab-pane.fade{"aria-labelledby" => "profile-tab", :role => "tabpanel"}
            - if @totem.content?
              = markdown(@totem.content)
            - else
              %p Aún no se ha establecido contenido.
          #gallery.tab-pane.fade{"aria-labelledby" => "profile-tab", :role => "tabpanel"}
            - if @totem.totem_images.count > 0
              .row
                - @totem.totem_images.each do |image|
                  .col-md-55
                    .image.view.view-first
                      %img{:alt => "image", :src => "#{image.image.url(:medium)}", :style => "width: 100%; display: block;"}/
            - else
              %p Aún no se ha subido ninguna imágen a la galería.

          #tips.tab-pane.fade{"aria-labelledby" => "profile-tab", :role => "tabpanel"}
            .table-responsive
              %table.table.table-hover
                %thead
                  %tr
                    %th ID
                    %th Contenido
                    %th Calificación
                    %th Aprobado
                    %th Acciones
                %tbody
                  - @totem.tips.each do |tip|
                    %tr
                      %td= tip.id
                      %td= tip.content
                      %td= tip.rate
                      %td= tip.status
                      %td
                        = form_for tip, url: admin_totem_tip_path(tip.totem, tip), html: {} do |f|
                          - if tip.approved
                            = f.hidden_field :approved, value: false
                            = f.submit I18n.t('disapprove'), class: 'btn btn-warning btn-xs'
                          - else
                            = f.hidden_field :approved, value: true
                            = f.submit I18n.t('approve'), class: 'btn btn-success btn-xs'
                          = link_to edit_admin_totem_tip_path(tip.totem, tip), class: "btn btn-info btn-xs" do
                            %i.fa.fa-pencil
                            = I18n.t('edit')
                          = link_to admin_totem_tip_path(tip.totem, tip), method: :delete, data: { confirm: I18n.t('destroy_confirmation') }, class: "btn btn-danger btn-xs" do
                            %i.fa.fa-trash-o
                            = I18n.t('destroy')
          #instagram.tab-pane.fade{"aria-labelledby" => "profile-tab", :role => "tabpanel"}
            .pull-right
              = link_to "Actualizar fotos", update_instagram_admin_totem_path, class: 'btn btn-success'
            .clearfix
            .table-responsive
              %table.table.table-hover
                %thead
                  %tr
                    %th Foto
                    %th Nombre
                    %th Usuario
                    %th Likes
                    %th Comentarios
                    %th Aprobado
                    %th Acciones
                %tbody
                  - @totem.instagrams.each do |instagram|
                    %tr
                      %td
                        = link_to instagram.link do
                          = image_tag instagram.image_url, width: 50
                      %td= instagram.user_name
                      %td= instagram.user_username
                      %td= instagram.likes
                      %td= instagram.comments
                      %td= instagram.status
                      %td
                        = form_for instagram, url: admin_totem_instagram_path(instagram.totem, instagram), html: {} do |f|
                          - if instagram.approved
                            = f.hidden_field :approved, value: false
                            = f.submit I18n.t('disapprove'), class: 'btn btn-warning btn-xs'
                          - else
                            = f.hidden_field :approved, value: true
                            = f.submit I18n.t('approve'), class: 'btn btn-success btn-xs'
                          = link_to edit_admin_totem_instagram_path(instagram.totem, instagram), class: "btn btn-info btn-xs" do
                            %i.fa.fa-pencil
                            = I18n.t('edit')
                          = link_to admin_totem_instagram_path(instagram.totem, instagram), method: :delete, data: { confirm: I18n.t('destroy_confirmation') }, class: "btn btn-danger btn-xs" do
                            %i.fa.fa-trash-o
                            = I18n.t('destroy')
- content_for :scripts do
  %script{:src => "//maps.google.com/maps/api/js?key=AIzaSyBqaIi337A-jIMcVIgz_fxCQBEB5fgpfwc", :type => "text/javascript"}
  :javascript
    $("#qr-output").qrcode({
      render: 'image',
      text: "#{totem_shortcut_url(@totem.circuit.shortcut, @totem.shortcut, :only_path => false)}"
    });
    var map = new GMaps({
      div: '#map',
      lat: "#{@totem.latitude}",
      lng: "#{@totem.longitude}",
      zoom: 18
    });
    map.addMarker({
      lat: "#{@totem.latitude}",
      lng: "#{@totem.longitude}",
      title: "#{@totem.name}",
      infoWindow: {
        content: "<p>#{@totem.name}</p>"
      }
    });
